/* Clearfix */
.clear:before, .clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
    *zoom: 1;
}
a#pull {
    display: none;
}
.activado{
	background-color: #404c51;
    width: 100%;
}
#div-nav{
	height: 45px;
	padding: 0px;
}
@media only screen and (max-width:1127px){
    #div-nav a{
        font-size: 16px !important;
    }
}
nav{
	width: 100%;
	text-align: center;
	background-color: #20272a;
	height: 100%;
}
nav ul{
	line-height: 45px;
	padding: 0px;
	margin-bottom: 0px;
}
nav li{
	display: inline-block;
	align-items:stretch;
	list-style: none;
	height: auto;
}
nav a{
	padding: 9px 15px;
	font-size: 	20px;
	color: white;
	text-decoration: none;
}
nav a:hover{
	background-color: #404c51;
}
#nav-nqn, #nav-bb{
    display: none;
}
@media only screen and (max-width : 820px) { /*Cuando el ancho de la pantalla sea menor que 820px*/
    nav {
        border-bottom: 0;
        height: auto;
		background-color: #20272a;
        position: absolute;
        z-index: 1;
    }

    nav ul {
        display: none;
        height: auto;
        width: 100%;
    }

    nav li {
        width: 100%;
        position: relative;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
    }

    nav a#pull {
        display: block;
        width: 100%;
    }

    nav a#pull:after {
        content:"";
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    #juicios-drop{
        display: none;
    }
    #nav-nqn, #nav-bb{
        display: block;
    }
}

footer{
	background-color:#b9bab5 !important;
	padding:0px
}
footer ul{
    list-style: none;
    display: inline-flex;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
footer li{
    margin: auto;
    padding: 3%;
}

/*clases para centrar verticalmente en div
.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction:row;
}*/
